.benchmark_reports
.cpplint-cache
.cproject
.DS_Store
.lock-wscript
.project
.waf*
*.a
*.exe
*.idb
*.lib
*.log
*.map
*.mk
*.ncb
*.o
*.pdb
*.pyc
*.scons*
*.suo
*.swp
*.user
*.xcodeproj
*~
#.*
#*#
tags
.buildpath
.settings
**/sites/default/settings.php
**/sites/default/files
*.sql
*.gz
*.tar
